body{
    margin: 0px 0px 0px 0px;
}
#navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
}
nav ul{
padding: 5px;
}
nav li{
    display: inline;
    margin: 80px;
    font-size: 25px;
}
a:link{
    color:aliceblue;
}
a:visited{
    color:aliceblue;
}
a:hover{
    color:aqua;
}
#uppernavbar{
    width: 100%;
    background-color: rgb(224, 17, 17);
    height: 10px;
    padding: 15px;
    align-content: center;
    margin-top: 15px;
    }
.boxinside{
    width: 25%;
    height: 10px;
    align-content: center;
    margin-right: 200px;
    color: white;
    font-size: 20px;
}
.fa{

        padding: 5px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 50px 0px 0px 0px;
        opacity: 70%;
    }
.fa:hover{
        opacity: 100%;
    }
.fa-facebook{
    position:absolute;
    top: 10px;
        background-color: blue;
        margin: 10px 150px 10px 10px;
    }

#opening-time{
    position: absolute;
    top: 12px;
    left: 550px;
    font-size: 15px;
    opacity: 80%;
}
#phone-number{
    position: absolute;
    top: 12px;
    left: 1000px;
    font-size: 15px;
    opacity: 80%;
}
#about-barber-shop{
    width: 300px;
    font-size: 20px;
    border: outset;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
}
#name-wrapper{
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: 600px 300px;
}

.name-of-barber{
    font-size: 18px;

}
#our-team{
        font-size: 20px;
        text-align: center;
        
        margin-top: 10px;
        border: outset;
}
.about-barber-wrapper{
    display:grid
}
#barber-shop-name{
    text-align: center  ;
}
a:link{
    text-decoration: none;
}
#about-and-photo-wrapper{
width: 100%;
display: grid;
grid-template-columns: 28% 1%;
margin-right: 50px;
}
img{
    width: 900px;
    height: 450px;
    border-radius: 8px;
}
#price-list-header{
    width: 200px;
    font-size: 20px;
    margin: 20px 0px 0px 20px;
    padding-left: 40px;
}